@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="padding-bottom: 20px;">Прості запити</h1>
    <a class="btn btn-primary mr-2" asp-controller="Query" asp-action="FilterBooksByCategories">Книги за категоріями (хоча б 1)</a>
    <a class="btn btn-primary mr-2" asp-controller="Query" asp-action="FilterPublishersByLanguage">Видання, що видають книги мовою Х</a>
</div>
